Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Windows_x64_x86:
            ChannelName: Windows_x64_x86
            RID: win-x64
          Channel_Windows_ARM:
            ChannelName: Windows_ARM
            RID: win-arm
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Release:
            ChannelName: Release
          Channel_Nightly:
  ...

Created a service that will work out whether we are outside of Working Hours and therefore whether to send events to the Custom Service
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Core/Lights/WorkingHoursService.cs
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Startup.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

merge
  src/PresenceLight.Package/Package-Local.appxmanifest
  src/PresenceLight.Package/Package-Nightly.appxmanifest
  src/PresenceLight.Package/Package.appxmanifest
  src/PresenceLight.Package/PresenceLight.Package.wapproj
  src/PresenceLight.Worker/Controllers/LightController.cs
  src/PresenceLight.Worker/Pages/_Host.cshtml
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Shared/MainLayout.razor
  src/PresenceLight.Worker/global.json
  src/PresenceLight.sln
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

merge
  src/PresenceLight.Package/Package-Local.appxmanifest
  src/PresenceLight.Package/Package-Nightly.appxmanifest
  src/PresenceLight.Package/Package.appxmanifest
  src/PresenceLight.Package/PresenceLight.Package.wapproj
  src/PresenceLight.Worker/Controllers/LightController.cs
  src/PresenceLight.Worker/Pages/_Host.cshtml
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Shared/MainLayout.razor
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.Worker/global.json
  src/PresenceLight.sln
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Spelling Fix within LIFX Window (#148)
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-wpf.yml

update pipelines
  azure-pipelines-worker.yml
  azure-pipelines-wpf.yml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update azure-pipelines-worker.yml for Azure Pipelines
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

Delete global.json
  src/PresenceLight.Worker/global.json
Due: azure-pipelines-worker.yml

fixes
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/ThisAppInfo.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

finished server work
  src/PresenceLight.Worker/Controllers/LightController.cs
Due: azure-pipelines-worker.yml

Code cleanup, and fix for #147
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/MainWindow.ColorPicker.cs
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.Yeelight.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Services/LIFXOAuthHelper.cs
  src/DesktopClient/PresenceLight/Services/NotifyIcon.cs
  src/DesktopClient/PresenceLight/Services/SettingsService.cs
  src/DesktopClient/PresenceLight/Services/WPFAuthorizationProvider.cs
  src/DesktopClient/PresenceLight/Telemetry/ThisAppInfo.cs
  src/Docker/.dockerignore
  src/Docker/docker-compose.dcproj
  src/Docker/docker-compose.override.yml
  src/Docker/docker-compose.yml
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.sln
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

fix yaml merge
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

Update azure-pipelines-worker.yml
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

1. Added identation when saving config files 2. Display Custom API page with formatting to fit in a single row
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Shared/NavMenu.razor
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

implement custom api flavor which allows to either get or post data to a single uri (with placeholder support for the uri and post body)
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Worker/Startup.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

remove duplicate brace
  src/PresenceLight.Core/Lights/CustomApiService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Advanced Diagnostic Setting and fixed WPF bugs
  azure-pipelines-wpf.yml
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/ApplicationInsights.config
  src/DesktopClient/PresenceLight/MainWindow.ColorPicker.cs
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Services/SettingsService.cs
  src/DesktopClient/PresenceLight/Telemetry/DiagnosticsClient.cs
  src/DesktopClient/PresenceLight/appsettings.json
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Advanced Diagnostic Setting and fixed WPF bugs
  azure-pipelines-wpf.yml
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/ApplicationInsights.config
  src/DesktopClient/PresenceLight/MainWindow.ColorPicker.cs
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Services/SettingsService.cs
  src/DesktopClient/PresenceLight/Telemetry/DiagnosticsClient.cs
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update yaml
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Change version
  version.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update Yaml
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml for Azure Pipelines
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Test snapshot attach
  src/DesktopClient/PresenceLight/App.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update App.xaml.cs
  src/DesktopClient/PresenceLight/App.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md
