Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Channel_Windows_x64_x86:
        ChannelName: Windows_x64_x86
        RID: win-x64
      Channel_Windows_ARM:
        ChannelName: Windows_ARM
        RID: win-arm
      Channel_macOS:
        ChannelName: macOS
        RID: osx-x64
      Channel_Linux_ARM:
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Release:
            ChannelName: Release
          Channel_Nightly:
  ...

Update azure-pipelines-worker.yml for Azure Pipelines
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

Support for Yeelight and Xiaomi (#38)
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight/App.xaml.cs
  src/PresenceLight/MainWindow.Yeelight.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update README.md
  README.md
Due: none

Cleanup README
  README.md
Due: none

Create worker-README.md
  worker-README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml for Azure Pipelines
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md
