Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md

Pass activity on
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

* add blazor page for custom api configuration (untested) * add custom api support to headless worker (untested)
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

improve nullcheck while checking if web request shall be performed
  src/PresenceLight.Core/Lights/CustomApiService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

add missing states settings to razor page for custom api
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
Due: azure-pipelines-worker.yml

add missing states
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add custom api support for activity (#111)
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Delete customApi.png
  static/customApi.png
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add files via upload
  static/customApi.png
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix signin bug
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

After working hours control feature added
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

After working hours control feature added
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fist Draft of Hue Cloud Api
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/RemoteHueService.cs
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight/App.xaml.cs
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.Hue.cs
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add custom api support to headless worker (#113)
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

Added ability to select colour (or turn off) each availabilty status for Philips Hue
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight/MainWindow.Hue.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added ability to select colour (or turn off) each availabilty status for Philips Hue
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight/MainWindow.Hue.cs
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update project dependencies
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

initial
  src/PresenceLight.Worker/Controllers/AlexaController.cs
  src/PresenceLight.Worker/Controllers/LightController.cs
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/appsettings.json
Due: azure-pipelines-worker.yml

initial
  src/PresenceLight.Worker/Controllers/AlexaController.cs
  src/PresenceLight.Worker/Controllers/LightController.cs
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

Updates for .NTE 5 Preview 8 and custom color mapping for LIFX
  src/Directory.Build.props
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight/MainWindow.Lifx.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updates for .NTE 5 Preview 8 and custom color mapping for LIFX
  src/Directory.Build.props
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight/MainWindow.Lifx.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added ability to select colour (or turn off) each availabilty status … (#133)
  src/Directory.Build.props
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight/MainWindow.Hue.cs
  src/PresenceLight/MainWindow.Lifx.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added ability to select colour (or turn off) each availabilty status … (#133)
  src/Directory.Build.props
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight/MainWindow.Hue.cs
  src/PresenceLight/MainWindow.Lifx.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

change to x64
  azure-pipelines-wpf.yml
  src/Directory.Build.props
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Package/PresenceLight.Package.wapproj
  src/PresenceLight.sln
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/PublishProfiles/WinX64.pubxml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml
