Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Windows_x64_x86:
            ChannelName: Windows_x64_x86
            RID: win-x64
          Channel_Windows_ARM:
            ChannelName: Windows_ARM
            RID: win-arm
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Release:
            ChannelName: Release
          Channel_Nightly:
  ...

MSBuild Updates
  src/Directory.Build.props
  src/PresenceLight.Package/PresenceLight.Package.wapproj
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/PublishProfiles/WinX64.pubxml
  src/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updates for .NET 5 Preview 8
  src/Directory.Build.props
  src/Directory.Build.targets
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Package/Package.appxmanifest
  src/PresenceLight.Package/PresenceLight.Package.wapproj
  src/PresenceLight.Worker/ThisAppInfo.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight/AssemblyInfo.cs
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Properties/AssemblyInfo.cs
  src/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
  src/PresenceLight/Properties/app.manifest
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix build props
  src/Directory.Build.props
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

attempt to fix broken build
  src/Directory.Build.props
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

working local build
  src/PresenceLight/Properties/AssemblyInfo.cs
Due: azure-pipelines-wpf.yml

Remove reference to OSVersionHelper
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Telemetry/ThisAppInfo.cs
Due: azure-pipelines-wpf.yml

downgrade nuget package
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-wpf.yml

another downgrade
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update DI bug in Worker version
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

Fix light bug
  src/PresenceLight.Core/Lights/LifxService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Choco Updates
  .chocolatey/PresenceLight.nuspec
  .chocolatey/tools/Verification.txt
  azure-pipelines-wpf.yml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Choco fix
  .chocolatey/tools/Verification.txt
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update Verification.txt
  .chocolatey/tools/Verification.txt
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Spelling Fix within LIFX Window
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-wpf.yml

Created a service that will work out whether we are outside of Working Hours and therefore whether to send events to the Custom Service
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Core/Lights/WorkingHoursService.cs
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Startup.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md
