Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Windows_x64_x86:
            ChannelName: Windows_x64_x86
            RID: win-x64
          Channel_Windows_ARM:
            ChannelName: Windows_ARM
            RID: win-arm
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Release:
            ChannelName: Release
          Channel_Nightly:
  ...

Add Custom API service
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight/App.xaml.cs
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Tweaks and changes to Custom API
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add Custom API to hardware list
  README.md
Due: none

Add Custom API Option (#56)
  README.md
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight/App.xaml.cs
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add files via upload
  static/customApi.png
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Working hours and updated dependencies fix #58
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Working hours and updated dependencies fix #58
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

fix working hours bug
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

Added error handling for while loop
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

Fix saving settings
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/Services/SettingsService.cs
Due: azure-pipelines-wpf.yml

Fix saving settings (#71)
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/Services/SettingsService.cs
Due: azure-pipelines-wpf.yml

Updates to Light Syncing, making it more clear
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/Services/SettingsService.cs
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updates to Light Syncing, making it more clear
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/Services/SettingsService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix light sync startup issue
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml for Azure Pipelines
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Take away status caching
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

Fix for CSWinRT
  src/Directory.Build.targets
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Services/SettingsService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Reset Lights when turn sync off
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

Remove KV calls
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/UserAuthService.cs
  src/PresenceLight/Services/LIFXOAuthHelper.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add extended brightness control and work days
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Graph/GraphService.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/UserAuthService.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight/MainWindow.ColorPicker.cs
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.Hue.cs
  src/PresenceLight/MainWindow.Lifx.cs
  src/PresenceLight/MainWindow.Yeelight.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/PresenceLight.csproj
  src/PresenceLight/Services/LIFXOAuthHelper.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Enable retry on settings sync
  src/PresenceLight/Services/SettingsService.cs
Due: azure-pipelines-wpf.yml

Fix for blazor version AAD
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Graph/GraphService.cs
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/UserAuthService.cs
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix for blazor version AAD
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Graph/GraphService.cs
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/UserAuthService.cs
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Docker Support to Worker
  src/.dockerignore
  src/Dockerfile
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Properties/launchSettings.json
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.sln
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md
