Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker

Update to Token Caching
  src/PresenceLight.Core/Graph/TokenCacheHelper.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update README.md
  README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Working Blazor with feature equality
  src/PresenceLight.Core/Helpers.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Worker/AppState.cs
  src/PresenceLight.Worker/Pages/About.razor
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Pages/_Host.cshtml
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/wwwroot/css/colorjoe.css
  src/PresenceLight.Worker/wwwroot/css/site.css
  src/PresenceLight.Worker/wwwroot/favicon.ico
  src/PresenceLight.Worker/wwwroot/js/colorjoe.js
  src/PresenceLight.Worker/wwwroot/js/colorjoe.js.map
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Yeelight implementation work in progress
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight/App.xaml.cs
  src/PresenceLight/MainWindow.Yeelight.cs
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

updated combobox with multibinding to address empty names
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml for Azure Pipelines
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update azure-pipelines-worker.yml
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

Update azure-pipelines-worker.yml for Azure Pipelines
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

merge (#39)
  .chocolatey/PresenceLight.nuspec
  .chocolatey/tools/ChocolateyInstall.ps1
  .chocolatey/tools/ChocolateyUninstall.ps1
  .chocolatey/tools/LICENSE.txt
  .chocolatey/tools/Verification.txt
  README.md
  azure-pipelines-worker.yml
  azure-pipelines-wpf.yml
  src/Directory.Build.props
  src/PresenceLight.Core/Graph/TokenCacheHelper.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Package/PresenceLight.Package.wapproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight/ChocolateyInstall.ps1
  src/PresenceLight/PresenceLight.csproj
  src/build.cer
  version.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

SSL work for Pi
  Build/presencelight.crt
  Build/presencelight.pfx
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Program.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Working Blazor example.
  Build/presencelight.service
  Build/trust-cert.sh
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Working Blazor example.
  Build/presencelight.service
  Build/trust-cert.sh
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/Program.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

fix to non-server instances
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/appsettings.json
Due: azure-pipelines-worker.yml

fix to non-server instances
  src/PresenceLight.Worker/Program.cs
Due: azure-pipelines-worker.yml
