Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Channel_Windows_x64_x86:
        ChannelName: Windows_x64_x86
        RID: win-x64
      Channel_Windows_ARM:
        ChannelName: Windows_ARM
        RID: win-arm
      Channel_macOS:
        ChannelName: macOS
        RID: osx-x64
      Channel_Linux_ARM:
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Zip:
            ChannelName: Zip
          Channel_Store:
  ...

Update azure-pipelines-wpf.yml for Azure Pipelines
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update PresenceLight.Package.wapproj
  src/PresenceLight.Package/PresenceLight.Package.wapproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Cleanup Build
  .chocolatey/PresenceLight.nuspec
  .chocolatey/tools/ChocolateyInstall.ps1
  .chocolatey/tools/ChocolateyUninstall.ps1
  .chocolatey/tools/LICENSE.txt
  .chocolatey/tools/Verification.txt
  azure-pipelines-wpf.yml
  src/PresenceLight/ChocolateyInstall.ps1
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

More CI cleanup
  azure-pipelines-wpf.yml
  src/Directory.Build.props
  src/PresenceLight.Package/PresenceLight.Package.wapproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update PresenceLight.nuspec
  .chocolatey/PresenceLight.nuspec
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update ChocolateyInstall.ps1
  .chocolatey/tools/ChocolateyInstall.ps1
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Delete build.cer
  src/build.cer
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update PresenceLight.csproj
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-wpf.yml

Update version.json
  version.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update Readme
  README.md
  static/store.svg
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update README.md
  README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add files via upload
  static/store.svg
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

add KV support for blazor app
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/UserAuthService.cs
Due: azure-pipelines-worker.yml

Added Blazor Functionality in an effort to sync features with WPF
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Worker/AADSettings.json
  src/PresenceLight.Worker/AppState.cs
  src/PresenceLight.Worker/Pages/About.razor
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Pages/_Host.cshtml
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Shared/NavMenu.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/ThisAppInfo.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/_Imports.razor
  src/PresenceLight.Worker/wwwroot/images/profileimage.jpg
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker
