Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Windows_x64_x86:
            ChannelName: Windows_x64_x86
            RID: win-x64
          Channel_Windows_ARM:
            ChannelName: Windows_ARM
            RID: win-arm
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Release:
            ChannelName: Release
          Channel_Nightly:
  ...

Update azure-pipelines-wpf.yml for Azure Pipelines
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Light Toggle right-click context support
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/appsettings.json
Due: azure-pipelines-wpf.yml

Light Toggle right-click context support
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

Downgrade Worker from 5.0 to 3.1 to fix AD UI breaking change
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight/PresenceLight.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update version.json
  version.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update PresenceLight.Core.csproj
  src/PresenceLight.Core/PresenceLight.Core.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Adding Container Support
  src/PresenceLight.Worker/App.razor
  src/PresenceLight.Worker/Dockerfile
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Properties/launchSettings.json
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.Worker/global.json
  src/PresenceLight.sln
  src/docker-compose.dcproj
  src/docker-compose.override.yml
  src/docker-compose.yml
  static/docker-compose.png
  static/docker.png
  worker-README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Adding Container Support
  src/PresenceLight.Worker/App.razor
  src/PresenceLight.Worker/Dockerfile
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Properties/launchSettings.json
  src/PresenceLight.Worker/global.json
  src/PresenceLight.sln
  src/docker-compose.dcproj
  src/docker-compose.override.yml
  src/docker-compose.yml
  static/docker-compose.png
  static/docker.png
  worker-README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update azure-pipelines-worker.yml for Azure Pipelines
  azure-pipelines-worker.yml
Due: azure-pipelines-worker.yml

Create bug_report.md
  ISSUE_TEMPLATE/bug_report.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Create feature_request.md
  ISSUE_TEMPLATE/feature_request.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Delete bug_report.md
  ISSUE_TEMPLATE/bug_report.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Delete feature_request.md
  ISSUE_TEMPLATE/feature_request.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add Settings Location to WPF About and Updated Nuget Packages
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight/Telemetry/ThisAppInfo.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Initial Start respect working hours
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

WPF Token Caching Fix
  src/PresenceLight.Core/Graph/TokenCacheHelper.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add user interface to configure more uris for custom api support to pass on the activity
  src/PresenceLight/MainWindow.xaml
  src/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-wpf.yml

add config fields and runtime changes for passing the activity to a custom api
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

add activites offline and do not disturc
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Save new setting
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-wpf.yml

Apply selected methods to new comboboxes
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-wpf.yml

missing files: apply seleted methods to new comboboxes
  src/PresenceLight/MainWindow.CustomApi.cs
  src/PresenceLight/MainWindow.Settings.cs
  src/PresenceLight/MainWindow.xaml
Due: azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md
