Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

azure-pipelines-worker.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Windows_x64_x86:
            ChannelName: Windows_x64_x86
            RID: win-x64
          Channel_Windows_ARM:
            ChannelName: Windows_ARM
            RID: win-arm
  ...

azure-pipelines-wpf.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      strategy:
        matrix:
          Channel_Release:
            ChannelName: Release
          Channel_Nightly:
  ...

Update App.xaml.cs
  src/DesktopClient/PresenceLight/App.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add more error handling
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Add Docker Setup issue
  worker-README.md
Due: none

Worker Cleanup and Docker Config
  src/.dockerignore
  src/Docker/.dockerignore
  src/Docker/docker-compose.dcproj
  src/Docker/docker-compose.override.yml
  src/Docker/docker-compose.yml
  src/DockerFiles/Dockerfile
  src/DockerFiles/Dockerfile.debian-arm32
  src/DockerFiles/Dockerfile.debian-arm64
  src/PresenceLight.Worker/Dockerfile
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.sln
  src/global.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Worker Cleanup and Docker Config
  src/.dockerignore
  src/DesktopClient/PresenceLight/appsettings.json
  src/Docker/.dockerignore
  src/Docker/docker-compose.dcproj
  src/Docker/docker-compose.override.yml
  src/Docker/docker-compose.yml
  src/DockerFiles/Dockerfile
  src/DockerFiles/Dockerfile.debian-arm32
  src/DockerFiles/Dockerfile.debian-arm64
  src/PresenceLight.Worker/Dockerfile
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.sln
  src/global.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Migrated to new Microsoft Identity Web for Worker Service
  src/PresenceLight.Worker/AppState.cs
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/UserAuthService.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

Migrated to new Microsoft Identity Web for Worker Service
  src/PresenceLight.Worker/AppState.cs
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/UserAuthService.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/appsettings.json
Due: azure-pipelines-worker.yml

Fix logout bug
  src/PresenceLight.Worker/Shared/LoginDisplay.razor
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml

Remove snapshot
  src/DesktopClient/PresenceLight/App.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix working hours syn issue
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update yml
  azure-pipelines-worker.yml
  azure-pipelines-wpf.yml
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Telemetry/DiagnosticsClient.cs
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Services/AppVersionTelemetryInitializer.cs
  src/PresenceLight.Worker/favicon.ico
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update appsettings for Worker
  azure-pipelines-worker.yml
  src/PresenceLight.Worker/PresenceLightSettings.json
Due: azure-pipelines-worker.yml

Updates to Readme
  README.md
Due: none

Adding development settings
  .gitignore
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Program.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Standalone Version
  azure-pipelines-wpf.yml
  src/DesktopClient/Directory.Build.props
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/Icon.ico
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Properties/PublishProfiles/WinX64.pubxml
  src/DesktopClient/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
  src/DesktopClient/PresenceLight/Services/AppPackageSettingsService.cs
  src/DesktopClient/PresenceLight/Services/ISettingsService.cs
  src/DesktopClient/PresenceLight/Services/StandaloneSettingsService.cs
  src/DesktopClient/PresenceLight/Telemetry/ThisAppInfo.cs
  src/DesktopClient/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added Standalone Version
  azure-pipelines-wpf.yml
  src/DesktopClient/Directory.Build.props
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/Icon.ico
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Properties/PublishProfiles/WinX64.pubxml
  src/DesktopClient/PresenceLight/Properties/PublishProfiles/WinX86.pubxml
  src/DesktopClient/PresenceLight/Services/AppPackageSettingsService.cs
  src/DesktopClient/PresenceLight/Services/ISettingsService.cs
  src/DesktopClient/PresenceLight/Services/StandaloneSettingsService.cs
  src/DesktopClient/PresenceLight/Telemetry/ThisAppInfo.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Update nuget packages
  azure-pipelines-wpf.yml
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updates to Azure Pipelines
  .chocolatey/tools/ChocolateyInstall.ps1
  .chocolatey/tools/Verification.txt
  azure-pipelines-wpf.yml
  src/DesktopClient/PresenceLight.Package/Package-Local.appxmanifest
  src/DesktopClient/PresenceLight.Package/Package-Nightly.appxmanifest
  src/DesktopClient/PresenceLight.Package/Package.appxmanifest
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

fix pipeline issue
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Pipeline fix
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update Pipeline
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

fix choco install script
  .chocolatey/tools/ChocolateyInstall.ps1
  .chocolatey/tools/ChocolateyUninstall.ps1
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updates to Choco Azure Pipeline
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Update azure-pipelines-wpf.yml
  azure-pipelines-wpf.yml
Due: azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md, worker-README.md
