Repository isaacrlevin/presencelight: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Path conditions:
  azure-pipelines-worker.yml: any file but: azure-pipelines-wpf.yml, .github/workflows/main.yml, src/PresenceLight, README.md, worker-README.md
  azure-pipelines-wpf.yml: any file but: azure-pipelines-worker.yml, .github/workflows/main.yml, src/PresenceLight.Worker, README.md, worker-README.md

Custom Activity Complete in Worker
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.Yeelight.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Configuration/AAD.cs
  src/PresenceLight.Core/Configuration/Base.cs
  src/PresenceLight.Core/Configuration/LightSettings.cs
  src/PresenceLight.Core/Configuration/LightTypes.cs
  src/PresenceLight.Core/Configuration/Statuses.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/RemoteHueService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Worker/Controllers/AlexaController.cs
  src/PresenceLight.Worker/Controllers/LightController.cs
  src/PresenceLight.Worker/Pages/About.razor
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Pages/Yeelight.razor
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Services/AppState.cs
  src/PresenceLight.Worker/Shared/MainLayout.razor
  src/PresenceLight.Worker/Shared/NavMenu.razor
  src/PresenceLight.Worker/Shared/Statuses.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/wwwroot/css/site.css
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Custom Activity Complete in Worker
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.Yeelight.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/appsettings.json
  src/PresenceLight.Core/ConfigWrapper.cs
  src/PresenceLight.Core/Configuration/AAD.cs
  src/PresenceLight.Core/Configuration/Base.cs
  src/PresenceLight.Core/Configuration/LightSettings.cs
  src/PresenceLight.Core/Configuration/LightTypes.cs
  src/PresenceLight.Core/Configuration/Statuses.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/RemoteHueService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Worker/Controllers/AlexaController.cs
  src/PresenceLight.Worker/Controllers/LightController.cs
  src/PresenceLight.Worker/Pages/About.razor
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Pages/Yeelight.razor
  src/PresenceLight.Worker/PresenceLightSettings.json
  src/PresenceLight.Worker/Services/AppState.cs
  src/PresenceLight.Worker/Shared/MainLayout.razor
  src/PresenceLight.Worker/Shared/NavMenu.razor
  src/PresenceLight.Worker/Shared/Statuses.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/wwwroot/css/site.css
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix Working Hours passed bug
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/RemoteHueService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Extend configuration to allow configuration to be injected as secrets/configs when running under kubernetes
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Properties/launchSettings.json
  src/PresenceLight.Worker/Services/SettingsService.cs
Due: azure-pipelines-worker.yml

Configuration Updates
  src/PresenceLight.Worker/Pages/About.razor
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Services/SettingsService.cs
  src/PresenceLight.Worker/Startup.cs
Due: azure-pipelines-worker.yml

Convert from NLog to Serilog for easier configuration especially when running in a Docker Container
  .gitignore
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/nlog.config
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Convert from NLog to Serilog for easier configuration especially when running in a Docker Container
  .gitignore
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/appsettings.json
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.Worker/nlog.config
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Removed forced Verbose logging from base config
  src/PresenceLight.Worker/appsettings.json
Due: azure-pipelines-worker.yml

remove token
  src/DesktopClient/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Extended AlexaController and LightController with logging
  src/PresenceLight.Worker/Controllers/AlexaController.cs
  src/PresenceLight.Worker/Controllers/LightController.cs
Due: azure-pipelines-worker.yml

Updated logging and Worker Readme
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.sln
  worker-README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updated logging and Worker Readme
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.sln
  worker-README.md
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix spelling
  worker-README.md
Due: none

Added missing Serilog Config for Universal app
  src/DesktopClient/PresenceLight/appsettings.json
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Refactor logging to be used without the need of helper classes.
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/MainWindow.ColorPicker.cs
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.Yeelight.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Services/AppPackageSettingsService.cs
  src/DesktopClient/PresenceLight/Services/LIFXOAuthHelper.cs
  src/DesktopClient/PresenceLight/Services/StandaloneSettingsService.cs
  src/DesktopClient/PresenceLight/appsettings.json
  src/DesktopClient/PresenceLight/nlog.config
  src/PresenceLight.Core/GraphWrapper.cs
  src/PresenceLight.Core/Helpers.cs
  src/PresenceLight.Core/ILoggerExtensions.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/RemoteHueService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/_Imports.razor
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.Worker/config/logs/log-2021020615.txt
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Refactor logging to be used without the need of helper classes.
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/MainWindow.ColorPicker.cs
  src/DesktopClient/PresenceLight/MainWindow.CustomApi.cs
  src/DesktopClient/PresenceLight/MainWindow.Hue.cs
  src/DesktopClient/PresenceLight/MainWindow.Lifx.cs
  src/DesktopClient/PresenceLight/MainWindow.Settings.cs
  src/DesktopClient/PresenceLight/MainWindow.Yeelight.cs
  src/DesktopClient/PresenceLight/MainWindow.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/Services/AppPackageSettingsService.cs
  src/DesktopClient/PresenceLight/Services/LIFXOAuthHelper.cs
  src/DesktopClient/PresenceLight/Services/StandaloneSettingsService.cs
  src/DesktopClient/PresenceLight/nlog.config
  src/PresenceLight.Core/GraphWrapper.cs
  src/PresenceLight.Core/Helpers.cs
  src/PresenceLight.Core/ILoggerExtensions.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Core/Lights/HueService.cs
  src/PresenceLight.Core/Lights/LifxService.cs
  src/PresenceLight.Core/Lights/RemoteHueService.cs
  src/PresenceLight.Core/Lights/YeelightService.cs
  src/PresenceLight.Core/PresenceLight.Core.csproj
  src/PresenceLight.Worker/Pages/Color.razor
  src/PresenceLight.Worker/Pages/CustomApiSetup.razor
  src/PresenceLight.Worker/Pages/HueSetup.razor
  src/PresenceLight.Worker/Pages/Index.razor
  src/PresenceLight.Worker/Pages/Lifx.razor
  src/PresenceLight.Worker/Pages/Settings.razor
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Worker.cs
  src/PresenceLight.Worker/_Imports.razor
  src/PresenceLight.Worker/config/logs/log-2021020615.txt
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updated Formatter Settings
  src/DesktopClient/PresenceLight/appsettings.json
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.Worker/config/logs/log-2021020615.txt
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Updated Formatter Settings
  src/PresenceLight.Worker/PresenceLight.Worker.csproj
  src/PresenceLight.Worker/config/logs/log-2021020615.txt
Due: azure-pipelines-worker.yml

Added some thread safety logic.
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Worker/Services/LogMonitorService.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Revert "Added some thread safety logic."
  src/PresenceLight.Core/Lights/CustomApiService.cs
  src/PresenceLight.Worker/Services/LogMonitorService.cs
  src/PresenceLight.Worker/Worker.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added log page to the Worker to allow user to view current activity,, and download logs from the ui.
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/PresenceLight.Core/Logging/ILoggerExtensions.cs
  src/PresenceLight.Core/Logging/PresenceEventsLogSink.cs
  src/PresenceLight.Worker/Pages/Logs.razor
  src/PresenceLight.Worker/Pages/_Host.cshtml
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Shared/NavMenu.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/config/logs/log-2021020618.json
  src/PresenceLight.Worker/config/logs/log-2021020619.json
  src/PresenceLight.Worker/config/logs/log-2021020620.json
  src/PresenceLight.Worker/config/logs/log-2021020621.json
  src/PresenceLight.Worker/config/logs/log-2021020622.json
  src/PresenceLight.Worker/config/logs/log-2021020623.json
  src/PresenceLight.Worker/wwwroot/js/site.js
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Added log page to the Worker to allow user to view current activity,, and download logs from the ui.
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/appsettings.json
  src/PresenceLight.Core/Logging/ILoggerExtensions.cs
  src/PresenceLight.Core/Logging/PresenceEventsLogSink.cs
  src/PresenceLight.Worker/Pages/Logs.razor
  src/PresenceLight.Worker/Pages/_Host.cshtml
  src/PresenceLight.Worker/Program.cs
  src/PresenceLight.Worker/Shared/NavMenu.razor
  src/PresenceLight.Worker/Startup.cs
  src/PresenceLight.Worker/appsettings.json
  src/PresenceLight.Worker/config/logs/log-2021020618.json
  src/PresenceLight.Worker/config/logs/log-2021020619.json
  src/PresenceLight.Worker/config/logs/log-2021020620.json
  src/PresenceLight.Worker/config/logs/log-2021020621.json
  src/PresenceLight.Worker/config/logs/log-2021020622.json
  src/PresenceLight.Worker/config/logs/log-2021020623.json
  src/PresenceLight.Worker/wwwroot/js/site.js
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

enabled override of logging location for packaged app
  .gitignore
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/DesktopClient/PresenceLight/appsettings.json
  src/PresenceLight.Worker/config/logs/log-2021020618.json
  src/PresenceLight.Worker/config/logs/log-2021020619.json
  src/PresenceLight.Worker/config/logs/log-2021020620.json
  src/PresenceLight.Worker/config/logs/log-2021020621.json
  src/PresenceLight.Worker/config/logs/log-2021020622.json
  src/PresenceLight.sln
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

enabled override of logging location for packaged app
  .gitignore
  src/DesktopClient/PresenceLight/App.xaml.cs
  src/DesktopClient/PresenceLight/PresenceLight.csproj
  src/PresenceLight.Worker/config/logs/log-2021020618.json
  src/PresenceLight.Worker/config/logs/log-2021020619.json
  src/PresenceLight.Worker/config/logs/log-2021020620.json
  src/PresenceLight.Worker/config/logs/log-2021020621.json
  src/PresenceLight.Worker/config/logs/log-2021020622.json
  src/PresenceLight.sln
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Delete src/PresenceLight.Worker/config/logs directory
  src/PresenceLight.Worker/config/logs/log-2021020623.json
Due: azure-pipelines-worker.yml

Added to gitignore
  .gitignore
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fixed variable used to set Yeelight color
  src/PresenceLight.Core/Lights/YeelightService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml

Fix for custom api
  src/PresenceLight.Core/Helpers.cs
  src/PresenceLight.Core/Lights/CustomApiService.cs
Due: azure-pipelines-worker.yml, azure-pipelines-wpf.yml
